form {
  > h1 {
    margin-top: 0;
  }

  > mat-form-field {
    width: 100%
  }

  > app-button {
    margin-top: .5em;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: var(--app-container-background);
  padding: 2em 1.5em;

  max-width: 400px;
  margin: 0 auto;
}
