<form fxLayout="column" fxLayoutAlign="center top">
  <div class="search-box" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <fieldset fxFlex="100%">
      <input matNativeControl placeholder="Search..." name="term" #term>
      <app-button [shadowed]="true" (click)="search(term.value)" [disabled]="loading">
        <mat-icon>search</mat-icon>
      </app-button>
    </fieldset>
    <app-button (click)="toggleSortOrderVisibility()">
      <mat-icon>{{ !isSortOrderVisible? 'tune' : 'close' }}</mat-icon>
    </app-button>
  </div>
  <div fxFlex class="sorting-box" *ngIf="isSortOrderVisible">
    <div>
      <p>
        Sorting by:
        <mat-button-toggle-group
        ngDefaultControl [value]="sortOrder$ | async" (change)="setOrder($event.value)"
        name="sort-order" aria-label="Sorting by">
          <mat-button-toggle *ngFor="let option of sortOrderOptions" [value]="option">
            @switch (option) {
              @case ('date') {
                Date
              }
              @case ('views') {
                Count of Views
              }
              @default {
                {{ option }}
              }
            }
          </mat-button-toggle>
        </mat-button-toggle-group>
    </p>
    </div>
    <div>
      <p>
        Filter by text:
        <input name="filter" #filter
          ngDefaultControl [value]="filterTerm$ | async" (input)="setFilterTerm(filter.value)">
      </p>
    </div>
  </div>
</form>
